{{>header}}
<div style="width:100%; margin: 0 auto;">
     <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Not Found!</span>
              <p>The URL you are trying to access is either broken or invalid.</p>
            </div>
            <div class="card-action">
              <a href="/">Back to Home</a>
              <a href="/about">About Us</a>
            </div>
          </div>
        </div>
      </div>
</div>
{{>footer}}