<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <br>
    <h1>Welcome to Home Page</h1>
    <br><br>
        <a href="/register">New user? Register.</a> 
        <br><br>   
        <a href="/login">Login</a>    
        <br><br>           
        <a href="/logout">Logout</a>    
</body>
</html>