<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <br>
    <h1>Welcome to Home Page</h1>
    <br><br>
    <form action="/register/new" method="post">
        Email : <input name="email" type="text" placeholder="enter email"><br><br>
        Password : <input name="password" type="password" placeholder="enter password"><br><br>
        <button>Login</button><br><br>
        <a href="/register">New user? Register.</a>
    </form>
</body>
</html>