<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <br>
    <h1>Welcome to Home Page</h1>
    <br><br>
    <form action="/register" method="post">
        Email : <input name="email" type="text" placeholder="enter email"><br><br>
        Password : <input name="password" type="password" placeholder="enter password"><br><br>
        Password Again : <input name="repassword" type="password" placeholder="re-enter password"><br><br>
        <button type="submit">Register</button><br><br>
        <a href="/">Already registered? Login.</a>
    </form>
</body>
</html>